<div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Dashboard</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Welcome to our Dashboard
    </div>
</div>